<!doctype html>
<html>
<head>
<title>Riot API</title>
<link rel="stylesheet" type = "text/css" href="../static/style.css">
	<script> var result ='{{ result }}';
	console.log(result);
	</script>
</head>
<body>
	<h1>API Test </h1>
	<div style="text-align:center">
		<form action="http://127.0.0.1:5000/display.html " method="post" enctype="multipart/form-data">
			<label for="summoner_name">Summoner Name: </label><br><br>
			<input type="text" name="summoner_name" id="summoner_name"><br><br>
			{#                    <output type="text" name="summoner_information">#}
			<input type="submit" value="Go">
		</form>
		<p>{{ result }}</p>
	</div>
</body>
